# =========================================
# PYTHON
# =========================================

__pycache__/
*.py[cod]
*.class

# =========================================
# DJANGO
# =========================================

*.log
local_settings.py

# Banco SQLite - dados locais
db.sqlite3

# =========================================
# BACKUPS
# =========================================

backup_*/
*_backup.sqlite3
db_backup_*.sqlite3

# =========================================
# MEDIA / DADOS DE USUÁRIOS
# =========================================

media/

# =========================================
# AMBIENTE VIRTUAL
# =========================================

venv/
.venv/
env/

# =========================================
# IDE / EDITORES
# =========================================

.vscode/
.idea/

# =========================================
# SISTEMA OPERACIONAL
# =========================================

.DS_Store
Thumbs.db
